body {
  background-color: #E3EDF7;
  color: #000000;
  font-size: 14px;
  height: 100%;
  line-height: 18px;
  margin: 0;
  min-height: 100%;
  font-family: Helvetica;
  word-break: break-word;
}

.Console {
  bottom: 0;
  position: fixed;
  z-index: 1;

  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 10px;
  }

  &-listItem {
    margin: 0 10px;
    position: relative;
  }

  &-subList {
    display: none;
    left: -10px;
    list-style: none;
    margin: 0;
    padding: 0 0 2px;
    position: absolute;
    bottom: 100%;

    &.isActive {
      display: block;
    }
  }

  &-button {
    appearance: none;
    background-color: #E3EDF7;
    border: 0;
    border-radius: 20px;
    box-shadow: -4px -4px 20px rgba(255, 255, 255, 0.85), 4px 4px 20px rgba(188, 205, 220, 0.8);
    flex: 0 0 70px;
    height: 70px;
    padding: 0;
    width: 70px;
    font-family: Campton;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #606287;


    &:active,
    &.isActive {
      box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.65), inset 4px 4px 4px rgba(188, 205, 220, 0.8);
      color: #41A1EA;
      font-weight: 600;

      .Console-buttonImage {
        filter: invert(53%) sepia(90%) saturate(1048%) hue-rotate(180deg) brightness(95%) contrast(92%);
      }

      &+ .Console-label {
        color: #41A1EA;

        &+ .Console-subList {
          display: block;
        }
      }
    }

    &:focus {
      outline: none;
    }

    &--board {
      margin: 0 0 15px;
    }
  }

  &-buttonArrow {
    filter: invert(90%) sepia(5%) saturate(1244%) hue-rotate(179deg) brightness(88%) contrast(94%);
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: 4px;
  }

  &-buttonImage {
    filter: invert(69%) sepia(2%) saturate(5185%) hue-rotate(170deg) brightness(72%) contrast(85%);
  }

  &-label {
    color: #6C8298;
    display: block;
    font-family: Campton;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.05em;
    padding: 13px 0;
    text-align: center;
    text-transform: uppercase;
  }
}
